<launch>

<!-- <node pkg="fiducial_slam" type="fiducial_slam" name="fiducials" output="screen">
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="base_frame" value="base_link"/>
    <param name="publish_tf" value="true"/>
    <param name="tf_publish_interval" value="0.1"/>
</node> -->

<node type="fiducial_slam" pkg="fiducial_slam" output="screen"
    name="fiducial_slam">
    <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />
    <param name="publish_tf" value="true" />
    <param name="tf_publish_interval" value="0.2" />
    <param name="future_date_transforms" value="0.0" />
    <param name="publish_6dof_pose" value="false" />
    <param name="pose_publish_rate" value="20" />
    <param name="sum_error_in_quadrature" value="true"/>
    <rosparam param="covariance_diagonal" subst_value="True">$</rosparam>
    <remap from="/camera_info" to="/camera/camera_info"/>

</node>

<node pkg="publishOdom" type="odomPublisher.py" name="odomPublisher" output="screen">
</node>

<include file="$(find aruco_detect)/launch/aruco_detect.launch"/>
<include file="$(find leo_description)/launch/state_publisher.launch"/>
<include file="$(find leo_description)/launch/description.launch"/>
</launch>